* {
    box-sizing: border-box;
}

.app {
    min-width: 320px;

    background-color: #f0f0f0;

    font-family: 'Roboto', sans-serif;

    &__container {
        min-height: 100vh;
        padding-bottom: 50px;
    }

    &__content {
        max-width: 1230px;
        margin: 0 auto;

        background-color: #fff;

        @media (max-width: 600px) {
            padding: 20px 15px;
        }

        @media (min-width: 601px) {
            padding: 40px;
        }
    }

    &__footer {
        position: relative;

        display: flex;
        align-items: flex-end;
        justify-content: center;

        height: 50px;
        margin-top: -50px;
        padding: 15px 0;
    }
}
